.heading {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

.scrollable-content {
  height: 100vh;
  overflow-y: auto;
  padding-right: 15px;
}

.highcharts-figure,
.highcharts-data-table table {
  width: 100%;
}

.highcharts-container {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: auto;
}

canvas {
  border-radius: 20px;
}

